@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

*{
    /* background: #ecf3f3; */
    font-family: 'Poppins', sans-serif;
} 

/* injected background code starts */

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
        
   position: fixed;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

/* injected background code ends */

body{
  background: #ecf3f3;
}

.nav-list{
    display: flex;
    position: relative;
    float: right;
    width: 50%;
}

.list-content{
    margin: auto
}
/* 
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
} */

.typing{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.wrapper{
    display: inline-flex;
}

.static-txt{
    font-size: 60px;
    align-items: center;
    justify-content: center;
}

.wrapper .dynamic-txts{
    /* margin-left: 15px; */
    margin: 0;
    height: 90px;
    /* line-height: 90px; */
    overflow: hidden;
    padding-left: 1em;
}

.dynamic-txts li{
    list-style: none;
    font-size: 60px;
    font-weight: 600;
    margin-top: 0;
    color: rgb(37, 43, 49);
    position: relative;
    top: 0;
    animation: slide 4s steps(2) infinite;
}

@keyframes slide {
    100%{
        top: -180px;
    }
}

.dynamic-txts li span{
    position: relative;
}

.dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #ecf3f3;
    border-left: 5px solid rgb(37, 43, 49);
    animation: typing 2s steps(16) infinite;
}

@keyframes typing {
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}

section{
  display: grid;
  place-items: center;
  width: 70%;
  margin: auto;
}

.skills{
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.projects{
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* margin: 0 auto; */
  /* background: #A0C5E8; */
  /* padding: 10px 0; */
}

.contact{
  display: flex;
  justify-content: space-between;
  width: 70%;
  background: rgb(181, 212, 212);
  margin-bottom: 2em;
}

img{
  height: 3em;
  width: 3em;
}

#project-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 70%;
}

a{
  text-decoration: none;
}

#button-content{
  font-size: large;
  font-weight: 600;
}

footer {
  background: rgb(181, 212, 212);
  text-align: center;
  /* margin-top: 2em; */
  /* padding-top: 2em; */
}

#contact-me{
  background: rgb(181, 212, 212);

}

#portfolio{
  margin-bottom: 2em;
}